# Template .gitignore react + nodejs

# -----------------------------------------------------------------------------
# Dependency directory
# -----------------------------------------------------------------------------
/node_modules

# -----------------------------------------------------------------------------
# Build output for the React frontend
# -----------------------------------------------------------------------------
/build
/dist

# -----------------------------------------------------------------------------
# Sensitive environment variables
# -----------------------------------------------------------------------------
.env
.env.local