.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    background-color: hsl(0, 0%, 100%);
}
.formbox{
    padding: 30px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 0px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
}
.h2custom{
    margin: 0px;
}
.btn{
    all:unset;
    background-color: black;
    color: white;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.btnspan{
    display: block;
    width: 100%;
}